
{%extends "base.html"%}
{% block content %}
<script src="/static/js/shrink.js"></script>
<link rel="stylesheet" href="/static/css/hover-icon.css" />
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
#tech-container{
		position: relative;
}

#tech-row{
		position : absolute;
		bottom: 0;
		width : 100%;
		margin-bottom : 100px;
		margin-left: 50px;
}

#ml-icon:hover {
		color : #fff;
}

</style>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="nav-container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style = "color : white;">ZigZag</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#" style = "color : white;">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about" style = "color : white;">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact" style = "color : white;">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class = "section" id = "slide1">
        <div class="container">   
                 <div class="col-xs-12 col-sm-6">
					   <div class="row seeker-ctas"> 
							<!--Seeker Links -->
							<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
								<div class="seeker-btn-wrapper">
								<div class= "center-head1"><h1>For Students</h1></div>
									<img class="hidden-xs1" src="http://media.newjobs.com/homepage/images/icons/profile_icon.png" alt="" />	
								</div>  
							<div class="btn btn-default" id = "button1"><a href="/accounts/student_login">Log In </a></div>
							</div>
						</div>
					</div>
			<div class="col-xs-12 col-sm-6"> 
						<!--Employer Links -->
						<div class="row text-center">
							<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
								<div class="employer-btn-wrapper">
									<div class= "center-head2"><h1>For Employers</h1></div>
									<img class="hidden-xs2" src="http://media.newjobs.com/homepage/images/icons/employers_icon.png" alt="" />
								</div>  
							<div class="btn btn-default" id = "button2"><a href="/accounts/employee_login">Log In </a></div>
							</div>
						</div>
					</div>
		</div>
    </div>

<div class = "section" id = "slide3">
   <div class="container">
      
    </div>
   </div>


  <div class="section" id="about">
        <div class="container" id = "tech-container">
            <div class="row"id = "tech-row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
				    <div class="block">
                        <i class="hovicon effect-3 sub-a"><b class="material-icons w3-text-teal" style="font-size:64px;margin-top: 10px">cloud</b>
                        </i>
                    </div>
				</div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
				    <div class="block">
                        <i class="hovicon effect-3 sub-a"><b class="material-icons w3-text-teal" style="font-size:64px;margin-top: 10px">laptop</b>
                        </i>
                    </div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
				    <div class="block">
                        <i class="hovicon effect-3 sub-a"><b class="material-icons w3-text-teal" style="font-size:64px;margin-top: 10px">settings</b>
                        </i>
                    </div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
				    <div class="block">
                        <i class="hovicon effect-3 sub-a" id = "ml-icon"><img u="image" src="/static/icons/hexagon2.ico" />
						</i>
					</div>
				</div>
			
				</div>
	        </div>
        </div>  
  </div>




<div class="section" id="section1">
			<div class="slide" id="slide1">
				<div class="container">
					<div class="row title-row">
						<div class="font-bold hidden">Making Drones Accesible</div>
					</div> <!-- /row -->
					<div class="row subtitle-row">
						<div class="font-thin hidden">Skycision provides a data-driven platform which processes drone-collected aerial imagery.</div>
					</div> <!-- /row -->
				</div> <!-- /container -->
			</div> <!-- /slide1 -->
			<div class="slide" id="slide2">
				<div class="container">
					<div class="row title-row">
						<div class="font-bold hidden">Next Generation Agriculture</div>
					</div> <!-- /row -->
					<div class="row subtitle-row">
						<div class="font-thin hidden">Our services are specifically designed for the modern grower enhancing their ability to manage a large-scale operation.</div>
					</div> <!-- /row -->
				</div> <!-- /container -->
			</div> <!-- /slide2 -->
			<div class="slide" id="slide3"> 
				<div class="container">
					<div class="row title-row">
						<div class="font-bold hidden">Precision At Your Finger Tips</div>
					</div> <!-- /row -->
					<div class="row subtitle-row">
						<div class="font-thin hidden">Identification of pests, weeds, or blights before they make a significant impact on a crops yield can save thousands of hard-earned dollars for growers.</div>
					</div> <!-- /row -->
				</div> <!-- /container -->
			</div> <!-- /slide3 -->
		

<!-- jQuery -->
    <script src="http://ironsummitmedia.github.io/startbootstrap-freelancer/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://ironsummitmedia.github.io/startbootstrap-freelancer/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="http://ironsummitmedia.github.io/startbootstrap-freelancer/js/classie.js"></script>
    <script src="http://ironsummitmedia.github.io/startbootstrap-freelancer/js/cbpAnimatedHeader.js"></script>


</body>
{% endblock %}