{% extends 'base.html' %}

{% block content %}
{% load i18n widget_tweaks %}
	<!-- Page CSS -->
	<link rel="stylesheet" href="/static/css/register-style.css" />
</head>

<body>
	<div class="animsition"> <!-- Animsition -->
    
    <div id="fullpage" class="hidden"> <!-- Full Page -->
  
    <!-- === Section 1 - Register Form === -->
        <div class="section" id="section1">
            <div class="container">
                <a href="/accounts/login" class="animsition-link"><div class="fa fa-remove fa-2x go-back"></div></a>
				</br>
                <div class="row title-row">
                    <h2 class="font-bold">Please enter your email</h2>
                </div>
                <div class="col-md-12 col-md-offset-2 col-sm-12 col-sm-offset-2"> <!-- Wrapper -->
                    <form name="setPassword" method="POST" action="/accounts/set_password/">
                    {% csrf_token %} 
                       <div class="form-group">
                            <div class="col-md-6 col-md-offset-1 col-sm-8 col-xs-12">
                               <input type="email" id="email" class="form-control input-lg" placeholder="Email" name = "email" required autofocus>
                               </br>
                            </div>
                            <div class="col-md-6 col-md-offset-1 col-sm-8 col-xs-12">
                               <input type="password" id="newPassword" class="form-control input-lg" placeholder="New Password" name = "newpassword" required>
                               </br>
                            </div>
                            <div class="col-md-6 col-md-offset-1 col-sm-8 col-xs-12">
                                <input type="password" id="confirmPassword" class="form-control input-lg" placeholder="Confirm Password" name = "confirmpassword" required>
                                </br>
                            </div>
                       </div>
                        
                        <!-- Submit Button -->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button type="submit" class="btn btn-primary btn-lg" id="submit">
                                    <h4 class="font-semibold">{% trans "Submit" %}</h4></button>
                            </div>
                        </div> <!-- /submitbutton -->
                    </form> <!-- /form -->
                </div> <!-- /wrapper -->
            </div> <!-- /container -->
        </div> <!-- /section1 -->
    </div> <!-- /fullpage -->
	
    <!-- === Navigation and Footer === -->
	<nav id="bt-menu" class="bt-menu bt-menu-close hidden">
        <div class="wrapper">
            <a href="/"> <img src="/static/images/logo/skycision-logo-small.png"  class="logo"/> </a>
        </div>
		<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
		<!-- Navigation Bar -->
		<ul> 
			<li><a href="/" class="animsition-link">Home</a></li>
			<li><a href="/contact/" class="animisiton-link">Contact</a></li>
			<li><a href="/accounts/login/" class="animisiton-link">Log In</a></li>
		</ul> <!-- /nav -->
		<!-- Footer -->
		<ul>
			<li><a href="#" class="bt-icon icon-phone" title="561-713-9103"></a></li>
			<li><a href="#" class="bt-icon icon-home" title="339 Lehigh Avenue, Pittsburgh PA, USA, 15213"></a></li>
			<li><a target="_blank" href="http://www.facebook.com/skycision" class="bt-icon icon-facebook"></a></li>
			<li><a target="_blank" href="https://twitter.com/Skycision" class="bt-icon icon-twitter"></a></li>
		</ul> <!-- /footer -->
	</nav> <!-- /bt-menu -->
    
    </div> <!-- /animsition -->
</body>

{% endblock %}