  {% extends 'base.html' %}

  {% block content %}
  {% load i18n widget_tweaks %}

  <link rel="stylesheet" href="/static/css/student-register-style.css" />

</head>
<style type="text/css">
  #submitid{
  margin-top: 30px;
  margin-left: 90px;
  position: relative;
  }

#submitid p {
  position: absolute;
    color: #1A9BAA;
    font-family: 'ProximaNova-Bold';
    font-size: 16px;
    margin-left: 0px;
    margin-top: 10px;
}

</style>

<body>


  <!-- === Section 1 - Register Form === -->
  <div class="container" id = "register-form">
    <div class = "container" id = "signupform">
      <form class="form-horizontal" role="form" action="/accounts/register_user/" method="POST" id="register">
        <!-- Form -->
        {% csrf_token %}

        <div class="row " id = "signup_row">
          <h2 class="font-bold col-md-8 col-md-4">Sign Up</h2>
        </div>
        <div class = "container" id = "align_names" style = "margin-top: 30px;">
         <div class="group" id = "id_first_name">
          <div class="col-md-6 col-md-offset-1 col-sm-8 col-xs-12">    
            <input class="inputMaterial" type="text" placeholder=""
            onblur="this.placeholder = ''" onfocus="this.placeholder = 'John'" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label style = "margin-left : 10px;">First Name<span class="asterik">*</span></label>
          </div>
        </div>
        <div class="group" id = "id_last_name">
          <div class="col-md-6 col-md-offset-1 col-sm-8 col-xs-12"> 
            <input class="inputMaterial" type="text" placeholder=""
            onblur="this.placeholder = ''" onfocus="this.placeholder = 'Swagger'"  required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label style = "margin-left : 10px;">Last Name<span class="asterik">*</span></label>
          </div>
        </div>
      </div>
      <div class = "container" id = "align_field" style = "margin-top: 30px;">
       <div class="group" id = "id_email">
        <div class="col-md-6 col-md-offset-1 col-sm-8 col-xs-12">    
          <input class="inputMaterial" type="text" placeholder=""
          onblur="this.placeholder = ''" onfocus="this.placeholder = 'xyz@cmu.edu'" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label style = "margin-left : 10px;">Email<span class="asterik">*</span></label>
        </div>
      </div>
      <div class="group" id = "id_phone">
        <div class="col-md-6 col-md-offset-1 col-sm-8 col-xs-12">  
          <form role="form">
            <div class="form-group">
              <select class="form-control" id="sel1">
                <option>Select your city</option>
                <option>San Mateo, CA</option>
                <option>Seattle, WA</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class = "container" id = "align_password" style = "margin-top: 30px;">
     <div class="group" id = "id_password">
      <div class="col-md-6 col-md-offset-1 col-sm-8 col-xs-12">  
        <input class="inputMaterial" type="password" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label style = "margin-left : 10px;">Password<span class="asterik">*</span></label> 
      </div>
    </div>
    <div class="group" id = "id_reenter_password">
      <div class="col-md-6 col-md-offset-1 col-sm-8 col-xs-12">  
        <input class="inputMaterial" type="password" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label style = "margin-left : 10px;">Re-Enter Password<span class="asterik">*</span></label> 
      </div>
    </div>
  </div>
  <!-- Submit Button -->
  <div class="group" id = "submitid">
    <button type="submit" class="btn btn-primary" id="submit">
      <h4 class="font-semibold">Submit</h4></button>
      <p class="footer-text">Already a member?  <span class="sign-up"><a href=/accounts/student_login>Signin </a></span></p>
    </div> <!-- /submitbutton -->

  </form> <!-- /form -->
</div> <!-- /container -->
</div>

<!-- Navigation Bar -->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="nav-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style = "color : white;">ZigZag</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="/" style = "color : white;">Home</a>
        </li>
        <li class="page-scroll">
          <a href="#about" style = "color : white;">About</a>
        </li>
        <li class="page-scroll">
          <a href="#contact" style = "color : white;">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> 
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body> 
{% endblock %}